.home-container {
    padding: 20px;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-title {
    margin: 0;
    text-align: center;
    flex: 1;
}

.settings-icon {
    width: 40px;
    height: 40px;
}

/* Search */
.search-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.search-table input.search-input {
    padding: 5px;
    width: 200px;
}

.search-table button.search-button {
    padding: 5px 10px;
}

.search-results {
    margin-top: 20px;
}